body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    background-color: lightgray;
    font-family: "Open Sans", sans-serif;
}
.contenedor {
    margin-bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 900px;
  
}

.div1 {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 900px;
    align-items: center;
   
}

.div2 {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 900px;
    margin-top: 3px;
    margin-left: auto;
    align-items: center;
   
}


.barra-progreso {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.barra {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
}


.controles {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.etapa {
    text-align: left;
    padding-left: 80px;
    font-weight: bold;
}
.boton {
    background-color: #850842;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
    float: left;
    font-size: 10px;
    padding: 5px;
}
ul {
    list-style: disc; /* Utiliza viñetas redondas */
}
#porcentaje {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px; /* Alinea el porcentaje a la derecha */
    height: 100%;
    display: flex;
    align-items: center;
}
.botones {
    display: flex;
    flex-direction: column; /* Los botones se mostrarán uno debajo del otro */
    align-items: flex-start; /* Centra horizontalmente los botones en el contenedor */
    margin-top: 90px; /* Agrega espacio superior opcional entre el botón "VER DETALLE" y los botones */
}

    /* Estilo para los botones dentro del contenedor */
    .botones button {
        margin: 5px 0;
    }









