.fondo {
    background: #e6e6e6;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.Contenedor1 {
    padding: 35px;
    display: flex;
    justify-content: space-around;
}

.OcultarDiv {
    display: none;
}

.div-detras {
    display: none;
    border-radius: 25px;
    background-color: #ffffff;
    width: 10px;
    height: 30px;
    position: absolute;
    top: 228px;
    left: 300px;
    z-index: 1; /* Valor de z-index inferior para ponerlo detrás */
    transition: width 0.5s ease;
}

.ContenedorPorcentaje {
    border-radius: 25px;
    background: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 90%; /* Ajusta el ancho del contenedor según tus necesidades */
    height: 100%; /* Ajusta la altura del contenedor según tus necesidades */
}

.Contenedor-Botones {
    border-radius: 25px;
    background-color: #ffffff;
    padding: 20px;
    height: 200px;
    width: 300px;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.Contenedor-SubEtapas {
    border-radius: 25px;
    background-color: #ffffff;
    padding: 20px;
    height: 200px;
    width: 450px;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 2; /* Valor de z-index inferior para ponerlo detrás */
}

.Estilo-SubEtapas {
    border-radius: 25px;
    background: #0E7116;
    padding: 5px;
    height: 25px;
    margin: 6px;
    display: block;
}

.Botones {
    border: 0;
    border-radius: 25px;
    background: #0E7116;
    padding: 5px;
    height: 40px;
    width: 300px;
    margin: 6px;
    outline: none; /* Elimina el borde al obtener el foco */
}

    .Botones:hover {
        background-color: #14ae5c; /* Cambia el color de fondo al pasar el mouse sobre el botón */
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
/*----------------------------*/
.barra-progreso {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.barra {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
}

.controles {
    display: flex;
    justify-content: flex-end;
}

#porcentaje {
    font-size: 18px;
    font-weight: bold;
}

/*---------------------*/
.contenedor {
    position: relative; /* Asegura que el contenedor sea un punto de referencia */
    padding: 20px;
    width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
    height: 100%; /* Ajusta la altura del contenedor según tus necesidades */
}

.esquina-superior-derecha {
    position: absolute;
    top: 250px;
    left: 25px;
    padding: 10px;
}

@media(max-width:1500px) {

    .Contenedor-SubEtapas {
        position: absolute;
        right: 70px;
    }

    .div-detras {
        position: absolute;
        right: 50px;
    }
}


@media(max-width:900px) {


    .Contenedor-SubEtapas {
        position: absolute;
        right: 70px;
    }

    .div-detras {
        background-color: #ffffff;
    }

    .Contenedor-SubEtapas {
        position: absolute;
        top: 480px;
        left: 250px;
    }
}

@media(max-width:800px) {

    .div-detras {
        background-color: #ffffff;
    }

    .Contenedor-SubEtapas {
        position: absolute;
        top: 480px;
        left: 100px;
    }
}

@media(max-width:600px) {

    .div-detras {
        background-color: #ffffff;
    }

    .Contenedor-SubEtapas {
        position: absolute;
        top: 480px;
        left: 40px;
    }
}
